/*Setting to zero*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/* main take up the whole screen */
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: -30%;
  left: 0;
  z-index: -1;
}
/* navbar */
#menu-icon {
  display: none;
}

header {
  padding: 2rem 0;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li {
  display: inline-block;
  margin: 0;
}

header a {
  color: #000;
  text-decoration: none;
}

header a:hover {
  color: hsl(35, 77%, 62%);
}

/* page container */
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
.container {
  max-width: 1440px;
  width: 100%;
  /* margin: 40px auto 0 auto; */
  padding: 0 15px;
}

.headline {
  height: 47vh;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 767px) {
  .bg-image {
    top: -34%;
  }
  .container {
    max-width: none;
    padding: 0 30px;
    margin: 0;
  }

  /* navbar */
  body .lock {
    overflow: hidden;
  }

  #menu-icon {
    z-index: 4;
    display: block;
  }

  .nav-menu {
    /* margin: 0 30px; */
    padding: 2rem;
    display: none;
    width: 84%;
    height: auto;
    position: absolute;
    left: 0;
    top: 120%;
    text-align: center;
    background-color: #fff;
    z-index: 3;
  }

  .nav-menu li {
    display: block;
    margin-bottom: 2rem;
  }
  .nav-menu li:last-child {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .triangle {
    width: 34px;
    height: 0px;
    border-left: 39px solid transparent;
    border-bottom: 45px solid #ffffff;
    position: absolute;
    top: -33px;
    left: 94%;
    transform: translateX(-50%);
  }
}
